@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --font-dank-mono: "Dank Mono", monospace;
  }

*{
    margin:  0 ;
    padding : 0 ; 
    box-sizing: border-box ;
}

body{
    background-color: black;
    color: white;
    font-family: var(--font-dank-mono);
}

.gallary {
    column-count: 5;
    column-gap: 5px;
    padding: 0rem 1rem;


  }
  @media screen and (max-width: 480px) {
    .gallary {
      position: absolute;
 
      column-count: 2; /* Set to a single column layout for smaller screens */
      column-gap: 5px; /* No gap between columns */
      padding: 0.5rem; /* Adjust padding for better spacing */
    }
  }

  /* Scrollbar Track */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(51 65 85) ;  /* Color of the scrollbar handle */
  border-radius: 5px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(71 85 105) ;  /* Color of the scrollbar handle on hover */
}
